.mat-dialog-container {
    height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
}


.custom-card {
    border: 1px solid grey;
    border-radius: 8px;
    width: 25vw;
    padding: 16px;
    margin-bottom: 10px;
  }
  
  .content-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  